<div>
  <ul>
    {{#each article}}
      <li id="{{_id}}" class="articles">{{title}}</li>
      {{!-- <li>{{summary}}</li> --}}
      <li>{{link}}</li><br>
    {{/each}}
  </ul>   
</div>

<div id="notes">
</div>

